<nav class="nav">
  <div class="container">
    <div class="nav__top">
        <div class="nav__section">
          <a [routerLink]="['/']" class="nav__brand">
            <img src="/assets/images/iPlove_wide.svg" alt="">
          </a>
        </div>
        <div class="nav__section">
          <a href="tel:+998712008080" class="nav__number hover-link">
            (71) 200 - 80 - 80
          </a>
        </div>

        <div class="nav__section">
          <a [routerLink]="['/auth']" class="btn btn-default">
            Sign in
          </a>
        </div>
    </div>
    <div class="nav__bottom">
      <ul class="nav__categories">
        <li>
          <a href="/category/plov" class="hover-link" >
            Plov
          </a>
        </li>
        <li>
          <a href="/category/salads" class="hover-link">
            salads
          </a>
        </li>
        <li>
          <a href="/category/drinks" class="hover-link">
            drinks
          </a>
        </li>
        <li>
          <a href="/category/sets" class="hover-link">
            sets
          </a>
        </li>
      </ul>
      <a href="/cart" class="btn btn-action">
        Cart <b>(1)</b>
      </a>
    </div>

  </div>
</nav>