<nav class="nav" #nav>
  <div class="nav__top" #navTop>
    <div class="container">
      <div class="nav__section">
        <a [routerLink]="['/']" class="nav__brand">
          <img src="/assets/images/iPlove_wide.svg" alt="">
        </a>
      </div>
      <div class="nav__section d-none d-md-block">
        <a href="tel:+998712008080" class="nav__number hover-link">
          (71) 200 - 80 - 80
        </a>
      </div>
      <div class="nav__section">
        <a *ngIf="isAuthenticated" [routerLink]="['/account']" class="btn btn-default d-none d-md-inline-block">
          Account
        </a>
        <a *ngIf="!isAuthenticated" [routerLink]="['/login']" class="btn btn-default d-none d-md-inline-block">
          Login
        </a>

        <div (click)="onHamburgerClick($event)" class="hamburger hamburger--elastic d-inline-block d-md-none">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="nav__bottom">
    <div class="container">
      <ul class="nav__categories">
        <li>
          <a href="/category/plov" class="hover-link">
            Plov
          </a>
        </li>
        <li>
          <a href="/category/salads" class="hover-link">
            salads
          </a>
        </li>
        <li>
          <a href="/category/drinks" class="hover-link">
            drinks
          </a>
        </li>
        <li>
          <a href="/category/sets" class="hover-link">
            sets
          </a>
        </li>
        <li>
          <a href="/tables" class="hover-link">
            Tables
          </a>
        </li>
      </ul>
      <div class="d-flex align-items-center justify-content-between">
        <a href="/cart" class="btn btn-action">
          Cart <b>(1)</b>
        </a>
        <a *ngIf="isAuthenticated" [routerLink]="['/account']" class="btn btn-default d-inline-block d-md-none">
          Account
        </a>
        <a *ngIf="!isAuthenticated" [routerLink]="['/login']" class="btn btn-default d-inline-block d-md-none">
          Login
        </a>
      </div>

    </div>
  </div>
</nav>