<div class="infoblock">
  <h6 class="infoblock__title">Orders</h6>
  
  <div class="infoblock__table">
    <div class="order-panel">
      <h5 class="order-panel__title">
        28.01.2020
      </h5>
      <div class="order-panel__sum">
        70.000 UZS
      </div>
    </div>
    <div class="order-panel">
      <h5 class="order-panel__title">
        28.01.2020
      </h5>
      <div class="order-panel__sum">
        70.000 UZS
      </div>
    </div>
    <div class="order-panel">
      <h5 class="order-panel__title">
        28.01.2020
      </h5>
      <div class="order-panel__sum">
        70.000 UZS
      </div>
    </div>
  </div>

</div>
<div class="infoblock">
  <h6 class="infoblock__title">Bookings</h6>
  <div class="infoblock__table">
    <div class="order-panel">
      <h5 class="order-panel__title">
        28.01.2020 17:00
      </h5>
      <div class="order-panel__sum">
        Table 5
      </div>
    </div>
    <div class="order-panel">
      <h5 class="order-panel__title">
        28.01.2020 17:00
      </h5>
      <div class="order-panel__sum">
        Table 5
      </div>
    </div>
    <div class="order-panel">
      <h5 class="order-panel__title">
        28.01.2020 17:00
      </h5>
      <div class="order-panel__sum">
        Table 5
      </div>
    </div>
  </div>

</div>