<div class="infoblock">
  <h6 class="infoblock__title">Orders</h6>



  <ng-container *ngIf="isOrdersLoading; else elseOrdersLoading">
    <app-loading></app-loading>
  </ng-container>
  <ng-template #elseOrdersLoading>
    <div class="infoblock__table">
      <div class="order-panel" *ngFor="let order of orders">
        <h5 class="order-panel__title">
          {{ formatDate(order.updated_at) }}
        </h5>
        <div class="order-panel__sum">
          {{ order.total | number:'1.0' }} UZS
        </div>
      </div>
    </div>
    <ng-template #elseOrderBlock>
      <h3 class="text-center mt-5 mb-5">No items</h3>
    </ng-template>
  </ng-template>

</div>
<div class="infoblock">
  <h6 class="infoblock__title">Bookings</h6>
  <ng-container *ngIf="isBookingsLoading; else elseBookingsLoading">
    <app-loading></app-loading>
  </ng-container>
  <ng-template #elseBookingsLoading>
    <div class="infoblock__table">
      <div class="order-panel" *ngFor="let booking of bookings">
        <h5 class="order-panel__title">
          {{ formatDate(booking.book_date) }} {{ booking.book_time }}
        </h5>
        <div class="order-panel__sum">
          Table {{ booking.table_id }}
        </div>
      </div>
    </div>
    <ng-template #elseOrderBlock>
      <h3 class="text-center mt-5 mb-5">No items</h3>
    </ng-template>
  </ng-template>

</div>