<section class="slider">
  <div class="container">
    <swiper [index]="1">
      <div class="slider__item">
        <img src="/assets/images/plov.jpg" alt="">
      </div>
      <div class="slider__item">
        <img src="/assets/images/plov.jpg" alt="">
      </div>
      <div class="slider__item">
        <img src="/assets/images/plov.jpg" alt="">
      </div>
    </swiper>
  </div>
</section>
<section class="featured">
  <div class="container">
    <h3>
      Today’s pick
    </h3>
  </div>
</section>