@import "../../../styles/utils.scss";

a.contacts-link {
  display: block;
  font-weight: 700;
  font-size: var(--text-2xl);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  span {
    color: var(--yellow);
    opacity: 0.7;
  }
}
iframe {
  width: 100%;
  margin: 24px 0;
  height: 300px;
}

@include md {
  a.contacts-link {
    font-size: 24px;
  }
}