<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6">
        <div class="footer-section text-center text-lg-left">
          <div class="footer-section__logo">
            <img src="/assets/images/iPlove_text.svg" alt="">
          </div>
          <ul>
            <li>
              <a [routerLink]="[ '/about' ]">About Us</a>
            </li>
            <li>
              <a [routerLink]="[ '/contacts' ]">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="footer-section text-center text-lg-left">
          <h6>Branches</h6>
          <ul>
            <li>Tashkent</li>
          </ul>
        </div>
      </div>
      <div class="ml-auto col-lg-2">
        <div class="footer-section text-center text-lg-right">
          <h6>Call now</h6>
          <ul>
            <li>
              <a href="tel:+998(71) 200-80-80">(71) 200-80-80</a>
            </li>
          </ul>
        </div>
      </div>



    </div>
  </div>


</footer>