/* You can add global styles to this file, and also import other style files */
:root {
  //colors
  --text: #000;
  --base: #efdb30;
  --secondary: #e22713;
  
  
  //text sizes
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--text);
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web";
}
