/* You can add global styles to this file, and also import other style files */
:root {
  //colors
  --text: #000;
  --yellow: #efdb30;
  --red: #e22713;
  --gray: #333333;
  
  
  //text sizes
  --text-3xl: 36px;
  --text-2xl: 28px;
  --text-xl: 24px;
  --text-sm: 14px;
  
  
  //paddings 
  --p-2xl: 100px;
  --p-xl: 60px;
  --p-md: 36px;
  --p-sm: 18px;
}

a[href]{
  color: inherit;
  text-decoration: none;
}
ul, ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web";
  font-weight: 700;
}


h3 {
  font-size: var(--text-3xl);
}

h5 {
  font-family: "Open Sans";
  font-size: var(--text-2xl);
   
}

.container {
  max-width: 1280px;  
}
img {
  max-width: 100%;
  height: auto;
}

a.hover-link {
  transition: 150ms ease;
  &:hover {
    color: var(--red);
  }
}

//btns
.btn {
  &.btn-{
    &default {
      border-radius: 20px;
      border: 1px solid rgba($color: #000000, $alpha: 0.7);
      padding-left: 2rem;
      padding-right: 2rem;
      &:hover {
        background: var(--yellow);
        border-color: transparent;
      }
    }
    &action{
      background: var(--yellow);
      box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding-left: 2rem;
      padding-right: 2rem;
      &:hover {
        opacity: 0.8;
        box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
      }
    }
  }
}