<div class="container secondary-page">
  <div class="secondary-page__header">
    <img src="/assets/images/plov.jpg" alt="">
  </div>
  <div class="container container--narrow secondary-page__content">
    <h1 class="secondary-page__title">
      About
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, a fuga cupiditate ex illo, itaque perspiciatis labore alias culpa officiis aperiam, ipsa eaque modi! Dignissimos maiores sit debitis ad! Minima quia, perferendis necessitatibus consectetur itaque natus dicta placeat, explicabo asperiores ipsa voluptates eveniet, quo numquam perspiciatis voluptas dolore sint ratione!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, a fuga cupiditate ex illo, itaque perspiciatis labore alias culpa officiis aperiam, ipsa eaque modi! Dignissimos maiores sit debitis ad! Minima quia, perferendis necessitatibus consectetur itaque natus dicta placeat, explicabo asperiores ipsa voluptates eveniet, quo numquam perspiciatis voluptas dolore sint ratione! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, a fuga cupiditate ex illo, itaque perspiciatis labore alias culpa officiis aperiam, ipsa eaque modi! Dignissimos maiores sit debitis ad! Minima quia, perferendis necessitatibus consectetur itaque natus dicta placeat, explicabo asperiores ipsa voluptates eveniet, quo numquam perspiciatis voluptas dolore sint ratione!
    </p>
    <div class="row">
      <div class="col-lg-6 mt-5">
        <img src="/assets/images/plov.jpg" alt="">
      </div>
      <div class="col-lg-6 mt-5">
        <img src="/assets/images/plov.jpg" alt="">
      </div>
    </div>
  </div>
  
  
</div>