<div class="container secondary-page">
  <div class="secondary-page__header">
    <img src="/assets/images/plov.jpg" alt="">
  </div>
  <div class="container container--narrow secondary-page__content">
    <h1 class="secondary-page__title">
      About
    </h1>
    <p>
      As the capital city of Uzbekistan, Tashkent is the right place to discover the flavors of the national cuisine. At this day iPlove is an example of modern national restaurant, which offers wide range of national meals. Moreover, the design is favorable to taste national dishes, and the surrounding atmosphere triggers a feeling of comfort and coziness that immediately disposes to table conversation. Recently, the website of iPlove gives opportunity to take a piece of this atmosphere to home during the quarantine time.
    </p>
    <p>
      We are a company providing you an opportunity to order dishes from various restaurants, cafes and other public catering establishments. Ordering food on the site is easy. Check out the product catalog, select what you want, and click "Select". In the shopping Cart, check the order and the required number of products. Click the "checkout" button. Then our operator will contact you to clarify and confirm the order. From the moment of order confirmation, we take care of guaranteed and timely delivery.
    </p>
    <div class="row">
      <div class="col-lg-6 mt-5">
        <img src="/assets/images/plov.jpg" alt="">
      </div>
      <div class="col-lg-6 mt-5">
        <img src="/assets/images/plov.jpg" alt="">
      </div>
    </div>
  </div>
  
  
</div>